# 搜索词优化模型的API密钥和基础URL
TERM_API_KEY=
TERM_BASE_URL=https://api.deepseek.com/v1

# 英文搜索模型的API密钥和基础URL
ENGLISH_API_KEY=
ENGLISH_BASE_URL=https://api.deepseek.com/v1

# 核心模型的API密钥和基础URL
CORE_API_KEY=
CORE_BASE_URL=https://api.deepseek.com/v1

# github个人访问令牌（Personal Access Token），用于访问GitHub API
GITHUB_PAT_TOKEN=

# bilibili 412之后需要设置代理，格式为http://ip:port
BILIBILI_PROXY=